<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<table>
  <thead>
    <tr>
      <th>Hoster</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Num of bed</th>
      <th>Address</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <td><%= listing.user.name %></td>
        <td><%= listing.name %></td>
        <td><%= listing.description %></td>
        <td><%= listing.price %></td>
        <td><%= listing.num_of_bed %></td>
        <td><%= listing.address %></td>
        <% if listing.verified? %>
        <td><i class="fa fa-check" aria-hidden="true"></i></td>
        <%end%>
        <td><%= link_to 'Show', listing %></td>

        <% if signed_in? -%>
      <%if listing.user.id == current_user.id %>
          <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
          <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
        <% end -%>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @listings %>
<br>

    <% if signed_in? -%>
      <%= link_to 'New Listing', new_listing_path %>
    <% else -%>
     <%= link_to t(".sign_in"), sign_in_path %>
    <% end -%>



