<%= form_for [@listing, @booking] do |f| %>  

<%if @errors.present? %>
<div>
  <%= @errors %>
</div>
<%end%>

  <div class="field">
    <%= f.label :num_of_guest %>
    <%= f.number_field :num_of_guest %>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.label :start_date %>
      <%= f.text_field :start_date, placeholder: 'Start Date', class: 'form-control', id:"datetimepicker3"%>
   </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= f.label :end_date %>
      <%= f.text_field :end_date, placeholder: 'End Date', class: 'form-control', id:"datetimepicker4" %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit Booking" %>
  </div>
<% end %>

<script>
$(document).ready(function(){
    $('#datetimepicker3').datetimepicker({
        format: 'MMM DD YYYY'
    });
    $('#datetimepicker4').datetimepicker({
        useCurrent: false, //Important! See issue #1075
          format: 'MMM DD YYYY'
    });
    $("#datetimepicker3").on("dp.change", function (e) {
        $('#datetimepicker4').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker4").on("dp.change", function (e) {
        $('#datetimepicker3').data("DateTimePicker").maxDate(e.date);
    });
});

</script>